.onglets {
    display: flex;
    position: relative;
    background: white;
    border-radius: 2px;
}

.justificatif-viewer {
    font-size: 50px;
}

.image-utilisateur {
    position: relative;
    top: 7px;
}

.nom {
    position: relative;
    left: 5px;
    top: 2px;
}

.validate-button {
    position: relative;
    top: 4px;
}

.refuse-button {
    position: relative;
    top: 2px;
    right: 2px;
}

.ask-button {
    position: relative;
    top: 0px;
}