p{
    text-align: center;
    font-size: 35px;
    font-family:"Latin Modern Math";
}

table{
    border-style: solid;
    border-collapse : collapse;
    border-width: 2px;
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
    font-family:"Latin Modern Math";
}
th{
    width: 8vw;
    text-align: center;
    border-style: solid;
    border-width: 2px;
}
td{
    width: 8vw;
    text-align: center;
    border-style: solid;
    border-width: 2px;
}
#adj{
    border-width: 4px;
    border-color: #006983;
}
#jour{
    height: 100%;
    width: 100%;
    background-color: white;
    font-size: 30px;
}
#jour:hover{
    background-color: #0280af;
}

#valide{
    color : #72af5e;
}

#enAttente{
    color: #ffc049;
}
#refus{
    color: #f32d2d;
}
#maLigne{
    width: 100%;
}

.valide{
    color: #72af5e;
}
.refus{
    color: #f32d2d;
}
.enAttente{
    color: #ffc049;
}

#intero{
    color: #000000;
    font-size: 25px;
}