table{
    border-style: solid;
    border-collapse : collapse;
    border-width: 2px;
    text-align: center;
}
th{
    width: 8vw;
    text-align: center;
    border-style: solid;
    border-width: 2px;
}
td{
    width: 8vw;
    text-align: center;
    border-style: solid;
    border-width: 2px;
}
#adj{
    border-width: 4px;
    border-color: #006983;
}
td:hover{
    background-color: #0280af;
}
