body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

header, main, footer {
    margin: 0;
    padding: 0;
}
header {
    background-color: #ffffff;
    padding: 0px;
}


main {
    background-color: #ffffff;
    padding: 20px;
}

#footer {
    background-color: #2781a8;
    text-align: center;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 0px;
}

#titre{
    background-color: #2781a8;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 1500px;
    margin: 0 auto;
    border-radius: 10px;
}
h1{
    color: black;
    text-align: center;
}

h2 {
    color: #ede9e9;
}

#important{
    color: #ffffff;
    text-align: center;
}

#erreur {
    color: red;
    text-align: center;
}

input[type="submit"]{
    background-color:goldenrod;
    color: black;
    border: none;
    padding: 12px 30px;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
    display: block;
    margin: 20px auto 0 auto;
}

form {
    border-color: #333333;
    border: 3px;
    border-style: solid;
    background-color: #efefef;
    padding: 1px;
    border-radius: 10px;
    max-width: 800px;
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 50px;
    margin-top: 30px;
}


#infos, #infoAbsence, #signature {
    margin-bottom: 1px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="time"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 2px solid #ede9e9;
    border-color: #333333;
    box-sizing: border-box;
}

