#footer {
    background-color: #2781a8;
    text-align: center;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 35px;
    color: #333;
}

h1{
    color: #2781a8;
    text-align: center;
}

h2 {
    color: #ede9e9;
}
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}


#important {
    color: red;
    text-align: center;
}

input[type="submit"]{
    background-color:goldenrod;
    color: black;
    border: none;
    padding: 12px 30px;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
    display: block;
    margin: 20px auto 0 auto;
}

form {
    background-color: #4ba9da;
    padding: 1px;
    border-radius: 10px;
    max-width: 800px;
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
}


#infos, #infoAbsence, #signature {
    margin-bottom: 1px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="time"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #ede9e9;
    box-sizing: border-box;
}