body {
    font-family:"Latin Modern Math";
    margin: 0;
    color: #0280af;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

h1 {
    color: #0280af;
    text-align: center;
}

form {
    background-color: white;
    border: 2px solid #0280af;
    padding: 30px;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(2, 128, 175, 0.5);
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #0280af;
}

input[type="file"] {
    margin-top: 5px;
    color: #0280af;
    border: 1px solid #c49f4c;
    border-radius: 4px;
    padding: 5px;
}

input[type="submit"] {
    background-color: #c49f4c;
    border: none;
    color: #0280c3;
    font-weight: bold;
    padding: 10px 25px;
    margin-top: 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: goldenrod;
}
#footer {
    background-color: #2781a8;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 100%;
    color: #333;
    margin: 0;
}
main {
    flex-grow: 1; /* Occupe tout l'espace disponible */
}