#main {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 900px;
    margin: 100px auto 0;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #ede9e9;
    border-radius: 10px;
    max-width: 800px;
    border-style: solid;
    border-color: #093057;
    border-width: 10px;
}
#info{
    justify-content: center;
    padding-bottom: 180px;

}
body {
    background-color: #ffffff;
    margin: 0;
}

#but{
    display: flex;
    justify-content: center;
    gap: 450px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#gras{
    font-size: 30px;
}
#gras1{
    font-size: 20px;
}
p{
    font-size: 20px;
}
#send{
    background-color:green;
    color: white;
    border-style: solid;
    border-radius: 10px;
    border-color: #093057;
    padding: 5px 10px;
    font-size: 20px;
}
b{
    font-size: 10px;
}
#back{
    background-color:red;
    color: white;
    border-style: solid;
    border-radius: 10px;
    border-color: #093057;
    padding: 5px 10px;
    font-size: 20px;
}
