#main {
    display: flex;
    flex-direction: column;
    min-height: 500px;
    width: 900px;
    margin: 100px auto 0;
    background-color: #ede9e9;
    border-radius: 10px;
    max-width: 800px;
    border: 10px solid #093057;
    box-sizing: border-box;
    margin-bottom: 100px;
}
#info {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}
body {
    background-image: url('../Image/bleu1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
}

#but {
    display: flex;
    justify-content: center;
    gap: 200px;
    margin-top: 20px;

}

#gras{
    font-size: 30px;
}
#gras1{
    font-size: 20px;
}
p{
    font-size: 20px;
}
#send{
    background-color:green;
    color: white;
    border-style: solid;
    border-radius: 10px;
    border-color: #093057;
    padding: 5px 10px;
    font-size: 20px;
    margin-bottom: 20px;
}
b{
    font-size: 10px;
}
#back{
    background-color:red;
    color: white;
    border-style: solid;
    border-radius: 10px;
    border-color: #093057;
    padding: 5px 10px;
    font-size: 20px;
    margin-bottom: 20px;
}
