#info {
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 900px;
}

#autre {
    margin: 0 auto;
    width: 900px;
}

#bouton {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 600px;
    justify-content: center;
    align-items: center;
}