.notification {
    position: fixed;
    width: 250px;
    height: 75px;
    right: 10px;
    top: 10px;
    background-color: white;
    border-radius: 10px;
    filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.2));
    animation: wobble 2s infinite;
}

.titre-notification {
    position: fixed;
    top: -10px;
    left: 10px;
}
.description-notification {
    position: fixed;
    left: 10px;
    top: 40px;
}

@keyframes wobble {
    50%{
        right: 10px;
    }
    65% {
        right: 50px;
    }
    100% {
        right: -100%;
    }
}