ul{
    text-align: right;
    font-size:  1vw;
    padding-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-color: #c6a04d;
}

li {
    display: inline-block;
    padding: 12px;
    outline-style: groove;
    outline-color: black;
    border-start-start-radius: 15px;
    border-start-end-radius: 15px;

}

li:hover{
    background-color: #efefef;
    animation-name: myAnimation;
    animation-duration: 1s;
}

@keyframes myAnimation {
    from {background-color: #ffffff;}
    to {background-color: #efefef;}
}

a:visited{
    color: #000000;
    text-decoration-line: none;
}
a:link {
    color: #000000;
    text-decoration-line: none;
}
a:hover{
    color: #0280af;
}

