div{
    font-size:20px;
    padding: 1px;
}
ul{
    text-align: right;
    font-size:  1vw;
    padding-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-color: #c6a04d;
}

li {
    display: inline-block;
    padding: 12px;
    outline-style: groove;
    outline-color: black;
    border-start-start-radius: 15px;
    border-start-end-radius: 15px;
    font-family:"Latin Modern Math";
    font-size: 120%;
}

li:hover{
    background-color: #efefef;
    animation-name: myAnimation;
    animation-duration: 1s;
}

@keyframes myAnimation {
    from {background-color: #ffffff;}
    to {background-color: #efefef;}
}

a:visited{
    color: #000000;
    text-decoration-line: none;
}
a:link {
    color: #000000;
    text-decoration-line: none;
}
.pages:hover{
    color: #0280af;
}

.onglets {
    position: relative;
    display: flex;
}

.onglets {
    flex: 1;
    width: 100vw;
}

.justificatif-texte {
    position: relative;
}

.oeil {
    position: relative;
    transition: transform 0.25s ease;
    width: 30px;
    top: 9px;
    left: 5px;
}

.oeil:hover {
    transform: rotate(10deg) scale(1.2) translateX(2px);
    transition: transform 0.25s ease;
}

.justificatif-image {
    position: relative;
    width: 300px;
}

.element {
    position: relative;
    left: 10px;
    top: 10px;
}

.liste-absence {
    position: relative;
    background-color: white;
    box-shadow:
            rgba(45, 35, 66, 0.2) 0 2px 4px,
            rgba(45, 35, 66, 0.15) 0 7px 13px -3px,
            #d6d6e7 0 -3px 0 inset;
    border-color: black;
    border-width: 10px;
    width: 650px;
    padding-bottom: 0px;
    height: auto;
    left: 50px;
    border-radius: 5px;
}

.liste-absence-demandes {
    position: relative;
    background-color: white;
    box-shadow:
            rgba(45, 35, 66, 0.2) 0 2px 4px,
            rgba(45, 35, 66, 0.15) 0 7px 13px -3px,
            #d6d6e7 0 -3px 0 inset;
    border-color: black;
    border-width: 10px;
    width: 650px;
    padding-bottom: 0px;
    height: auto;
    left: 50px;
    border-radius: 5px;

}

.description-element {
    padding-left: 45px;
}

.ligne {
    width: 650px;
    padding-bottom: 9px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    position: absolute;
}

.top-layer {
    background-color: #ececec;
    position: relative;
    left: -10px;
    border-radius: 5px 5px 0 0;
    padding-top: 10px;
    margin-top: -10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.details {
    position: relative;
    left: 15px;
    top: -8px;
}

summary {
    list-style: none;
}

summary::-webkit-details-marker {
    display: none;
}


.zoom-button {
    display: inline-block;
    width: 350px;
    height: 400px;
    background-image: url("/Image/justificatif.jpg");
    background-size: cover;
    background-position: center;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.2s ease;
}

input[id^="zoom"]:checked + label.zoom-button {
    transform: scale(1.05) translateY(20px);
    margin-bottom: 20px;
    border: 2px solid #007BFF;
}

.justificatif-close {
    display: none;
}

.justificatif-close img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

input[id^="zoom"]:checked ~ .justificatif-close {
    position: fixed;
    top: 20px;
    right: 20px;
    height: 25px;
    width: 25px;
    list-style: none;
    cursor: pointer;
    z-index: 3;
    display: block;
}

.justificatif-image-big {
    display: none;
}

input[id^="zoom"]:checked ~ .justificatif-image-big {
    display: block;
    margin: 0 auto;
    max-width: 80vw;
    max-height: 80vh;
    object-fit: contain;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.fondu-noir {
    display: none;
}

input[id^="zoom"]:checked ~ .fondu-noir {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.49);
    z-index: 1;
}

select {
    width: 300px;
    padding: 10px 40px 10px 12px;
    font-size: 14px;
    font-family: inherit;
    color: #333;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 6px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

textarea {
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    background: #e8e8e8;
    transition: 0.3s;
}

.label-accepter, .label-refuser, .label-demander {
    display: inline-block;
    position: relative;
    top: 10px;
    left: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    filter: grayscale(100%) brightness(1);
}

input[id^="toggle1_"]:checked + .label-accepter,
input[id^="toggle2_"]:checked + .label-refuser,
input[id^="toggle3_"]:checked + .label-demander {
    filter: grayscale(0%) brightness(1);
    opacity: 1;
    transform: scale(1.1);
}

.label-accepter:hover,
.label-refuser:hover,
.label-demander:hover {
    filter: grayscale(50%) brightness(0.9);
    opacity: 0.8;
    transform: scale(1.05);
}

.label-accepter {
    background: url('/Image/AccepterSymbole.png') no-repeat center center;
    background-size: contain;
}

.label-refuser {
    background: url('/Image/RefuserSymbole.png') no-repeat center center;
    background-size: contain;
}

.label-demander {
    background: url('/Image/DemanderSymbole.png') no-repeat center center;
    background-size: contain;
}

.texte-accepter, .texte-refuser, .texte-demander {
    display: none;
}

input[id^="toggle1_"]:checked ~ .texte-accepter {
    display: block;
}

input[id^="toggle2_"]:checked ~ .texte-refuser {
    display: block;
}

input[id^="toggle3_"]:checked ~ .texte-demander {
    display: block;
}

.nom {
    position: relative;
    top: -4px;
    left: 14px;
}

.image-utilisateur {
    position: relative;
    left: 10px;
}

.notification {
    position: fixed;
    width: 250px;
    height: 75px;
    right: 10px;
    top: 10px;
    background-color: white;
    border-radius: 10px;
    filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.2));
    animation: notification-animation 2s forwards;
}

.titre-notification {
    position: fixed;
    top: -10px;
    left: 10px;
}

.description-notification {
    position: fixed;
    left: 10px;
    top: 40px;
}

@keyframes notification-animation {
    50%{
        right: 10px;
    }
    65% {
        right: 50px;
    }
    100% {
        right: -100%;
    }
}

.bouton-envoye {
    align-items: center;
    appearance: none;
    background-color: #fcfcfd;
    border-radius: 4px;
    border-width: 0;
    box-shadow:
            rgba(45, 35, 66, 0.2) 0 2px 4px,
            rgba(45, 35, 66, 0.15) 0 7px 13px -3px,
            #d6d6e7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395a;
    cursor: pointer;
    display: inline-flex;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition:
            box-shadow 0.15s,
            transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.dateFiltreur:checked ~ .dateFiltre {
    display: block;
}

.eleveFiltreur:checked ~ .eleveFiltre {
    display: block;
}

.matiereFilteur:checked ~ .matiereFiltre {
    display: block;
}


.dateFiltre {
    display: none;
}

.matiereFiltre {
    display: none;
}

.eleveFiltre {
    display: none;
}

.bouton-filtrage {
    display: none;
}

.dateFiltreur:checked ~ .bouton-filtrage {
    display: block;
}

.eleveFiltreur:checked ~ .bouton-filtrage {
    display: block;
}

.matiereFilteur:checked ~ .bouton-filtrage {
    display: block;
}


.bouton-envoye:focus {
    box-shadow:
            #d6d6e7 0 0 0 1.5px inset,
            rgba(45, 35, 66, 0.4) 0 2px 4px,
            rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
            #d6d6e7 0 -3px 0 inset;
}

.bouton-envoye:hover {
    box-shadow:
            rgba(45, 35, 66, 0.3) 0 4px 8px,
            rgba(45, 35, 66, 0.2) 0 7px 13px -3px,
            #d6d6e7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.bouton-envoye:active {
    box-shadow: #d6d6e7 0 3px 7px inset;
    transform: translateY(2px);
}