ul{
    text-align: right;
    font-size:  1vw;
    padding-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-color: #c6a04d;
}

.pages:hover{
    color: #0280af;
}