.credits:hover {
    background-color: #5d4037;
}

.credits {
    background-color: #795548;
}

summary.filtrer:hover {
    color: #8d6e63;
}

.filtrage input[type="text"]:focus,
.filtrage input[type="date"]:focus {
    border-color: #8d6e63;
}

input[type="checkbox"] {
    accent-color: #8d6e63;
}

.bouton-filtrage {
    background: #8d6e63;
}

.bouton-filtrage:hover {
    background: #5d4037;
}

.pages:hover {
    color: #795548;
}

input[id^="zoom"]:checked + label.zoom-button {
    border: 2px solid #795548;
}

.bouton-envoye {
    background-color: #8d6e63;
    box-shadow: rgba(93, 64, 55, 0.2) 0 2px 4px,
    rgba(93, 64, 55, 0.15) 0 7px 13px -3px,
    #5d4037 0 -3px 0 inset;
}

.bouton-envoye:hover {
    box-shadow: rgba(93, 64, 55, 0.3) 0 4px 8px,
    rgba(93, 64, 55, 0.2) 0 7px 13px -3px,
    #5d4037 0 -3px 0 inset;
}

.filtrage input[type="checkbox"] {
    accent-color: #795548;
}

.bouton-filtrage:hover {
    background: #5d4037;
}

.bouton-filtrage:active {
    background: #4a322b;
}

@media (max-width: 840px) {
    .bouton-envoye {
        background-color: #8d6e63;
        box-shadow: rgba(93, 64, 55, 0.2) 0 2px 4px,
        rgba(93, 64, 55, 0.15) 0 7px 13px -3px,
        #5d4037 0 -3px 0 inset;
    }
}

@media (max-width: 1000px) {
    .bouton-filtrage {
        background: #8d6e63;
    }
}