body {
    color: #c85a00;
}

h1 {
    color: #c85a00;
}

form {
    border: 2px solid #f16e00;
    box-shadow: 0 0 10px rgba(241, 110, 0, 0.5);
}

label {
    color: #c85a00;
}

input[type="file"] {
    color: #c85a00;
    border: 1px solid #DAA520;
}

input[type="submit"] {
    background-color: #DAA520;
    color: #f16e00;
}

input[type="submit"]:hover {
    background-color: #DAA520;
}

#footer {
    background-color: #f16e00;
}