body {
    color: #6a3fb5;
}

h1 {
    color: #6a3fb5;
}

form {
    border: 2px solid #a885d8;
    box-shadow: 0 0 10px rgba(168, 133, 216, 0.5);
}

label {
    color: #6a3fb5;
}

input[type="file"] {
    color: #6a3fb5;
    border: 1px solid #800080;
}

input[type="submit"] {
    background-color: #800080;
    color: #a885d8;
}

input[type="submit"]:hover {
    background-color: #800080;
}

#footer {
    background-color: #a885d8;
}