body {
    color: #238823;
}

h1 {
    color: #238823;
}

form {
    border: 2px solid #32c832;
    box-shadow: 0 0 10px rgba(50, 200, 50, 0.5);
}

label {
    color: #238823;
}

input[type="file"] {
    color: #238823;
    border: 1px solid #228B22;
}

input[type="submit"] {
    background-color: #228B22;
    color: #32c832;
}

input[type="submit"]:hover {
    background-color: #228B22;
}

#footer {
    background-color: #32c832;
}