.justificatif-texte {
    position: relative;
    left: 10px;
}
.oeil {
    position: relative;
    transition: transform 0.25s ease;
    width: 30px;
    top: 9px;
    left: 15px;
}

.oeil:hover {
    transform: rotate(10deg) scale(1.2) translateX(2px);
    transition: transform 0.25s ease;
}

.justificatif-image {
    position: relative;
    width: 300px;
}

@keyframes wobble {
    100% {
        border-radius: 25px;
    }
}

.justificatif-image:hover {
    animation: wobble 0.5s ease-in-out forwards;
}

.justificatif-image-big {
    display: block;
    margin: 0 auto;
    max-width: 80vw;
    max-height: 80vh;
    object-fit: contain;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

summary {
    list-style: none;
}

summary::-webkit-details-marker {
    display: none;
}

.fondu-noir {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.49);
    z-index: 1;
}

/*
si fondu noir hover alors croix visible sinon non
 */


.justificatif-close {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 25px;
    list-style: none;
    cursor: pointer;
    z-index: 3;
}
